/*
Theme Name: 	Citadel
Theme URI: 		https://citadel.edu/
Author: 		The Citadel Webmaster
Author URI: 	https://web.citadel.edu/
Description: 	Theme for The Citadel, Military College of South Carolina. Development started in September 2018.
Version: 		1.0.0
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: 	citadel
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
# Typography
	## Headings
	## Copy
# Elements
	## Lists
	## Tables
# Forms
	## Buttons
	## Fields
# Navigation
	## Links
	## Menus
	## Page Navigation
	## Next & Previous
# Accessibility
# Alignments
# Clearings
# Layout
# Widgets
# Content
	## Archives
	## Posts and pages
	## Search
	## Homepage
	## Comments
# Blocks
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/* Normalize */
/* Typography */
button,
input,
select,
optgroup,
textarea {
  color: #282E36;
  font-family: "open-sans", helvetica, arial, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poynter-oldstyle-display", "adobe-garamond-pro", times, serif;
  font-weight: 700;
  line-height: 1.2;
  color: #1F3A60;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 0.8333333333rem;
}

h6 {
  font-size: 0.6666666667rem;
}

p {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote cite {
  font-size: 0.6666666667rem;
  font-style: normal;
  font-family: "poynter-oldstyle-display", "adobe-garamond-pro", times, serif;
}

pre {
  font-size: 0.8333333333rem;
  font-family: Courier, monospace;
  line-height: 1.8;
  overflow: auto;
}

code,
kbd,
tt,
var {
  font-size: 0.8333333333rem;
  font-family: Menlo, monaco, Consolas, Lucida Console, monospace;
}

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

/* Elements */
a img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  margin: 1rem 0;
}

hr {
  background-color: rgba(40, 46, 54, 0.6);
  border: 0;
  height: 1px;
}

ul {
  list-style: disc;
}
ul ul {
  list-style-type: circle;
}

ol {
  list-style: decimal;
}

li {
  line-height: 1.8;
}

li > ul,
li > ol {
  padding-left: 2rem;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1rem 1rem;
}

img {
  height: auto;
  max-width: 100%;
  position: relative;
}

figure {
  margin: 0;
}

blockquote {
  border-left: 5px solid #3975B7;
  margin-left: 0;
  padding: 0 0 0 1rem;
}
blockquote > p {
  margin: 0 0 1rem;
}
blockquote cite {
  color: rgba(40, 46, 54, 0.6);
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  background-color: #1F3A60;
  border: 2px solid #1F3A60;
  padding: 0.56rem;
  cursor: pointer;
  color: #ffffff;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}
button:hover, button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus {
  color: #1F3A60;
  background-color: #ffffff;
}
button:disabled,
input[type="submit"]:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled {
  background-color: rgba(31, 58, 96, 0.8);
  color: #ffffff;
  cursor: not-allowed;
}

video {
  max-width: 100%;
}

audio {
  max-width: 100%;
}

cite {
  font-size: 0.8333333333rem;
}

table {
  margin: 0 0 1rem;
  border-collapse: collapse;
  width: 100%;
}
table td,
table th {
  padding: 0.5em;
  border: 1px solid rgba(40, 46, 54, 0.6);
  word-break: break-all;
}

/* Forms */
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: #3975B7;
  border: 2px solid #3975B7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.2;
  outline: none;
  padding: 0.76rem 1rem;
  text-decoration: none;
  vertical-align: bottom;
}
.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #1F3A60;
  cursor: pointer;
}
.button:visited,
button:visited,
input[type="button"]:visited,
input[type="reset"]:visited,
input[type="submit"]:visited {
  color: #fff;
  text-decoration: none;
}
.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background: #1F3A60;
  outline: thin dotted;
  outline-offset: -4px;
}

/* Navigation */
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
#header .menu-item-has-children > a::after {
  margin-left: 0.42rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  font-size: 0.84rem;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-nav {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 98;
  border-top: 1px solid #3975B7;
}
@media only screen and (min-width: 56.12em) {
  .main-nav {
    display: block;
    position: static;
    border-top: none;
  }
}
.main-nav ul {
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;
}
.main-nav .wrapper {
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (min-width: 56.12em) {
  .main-nav .wrapper {
    padding-left: 5.62vw;
    padding-right: 5.62vw;
  }
}
.main-nav .wrapper > ul {
  display: block;
  max-height: calc(100vh - 80px);
  overflow-y: auto;
}
@media only screen and (min-width: 56.12em) {
  .main-nav .wrapper > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 100%;
    overflow-y: visible;
  }
}
.main-nav .wrapper > ul > li {
  text-transform: uppercase;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
  display: block;
}
@supports not ((display: -webkit-box) or (display: flex)) {
  .main-nav .wrapper > ul > li {
    width: 1 "%";
  }
}
@media only screen and (min-width: 56.12em) {
  .main-nav .wrapper > ul > li {
    display: table-cell;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-nav .wrapper > ul > li > a {
  color: #ffffff;
  padding: 0.42rem 1rem;
  display: block;
  width: 100%;
  font-size: 1.2rem;
  font-weight: normal;
  cursor: pointer;
  border-bottom: none;
  font-weight: 600;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}
@media only screen and (min-width: 56.12em) {
  .main-nav .wrapper > ul > li > a {
    font-size: 0.8333333333rem;
    font-weight: 600;
    padding: 0.42rem 0;
  }
}
.main-nav .wrapper > ul > li:hover, .main-nav .wrapper > ul > li:focus {
  background-color: #ffffff;
}
.main-nav .wrapper > ul > li:hover > a, .main-nav .wrapper > ul > li:focus > a {
  color: #1F3A60;
  background-color: rgba(206, 199, 191, 0.4);
}
.main-nav .has-submenu:not(.wide-nav) {
  position: relative;
}
.main-nav .has-submenu > a::after {
  margin-left: 0.42rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  font-size: 0.6666666667rem;
}
.main-nav .has-submenu.active > .primary {
  background-color: #ffffff;
  color: #1F3A60;
}
.main-nav .has-submenu.active > .submenu {
  z-index: 92;
}
.main-nav .submenu {
  top: 100%;
  left: -1px;
  z-index: 90;
  display: none;
  background-color: #ffffff;
  display: none;
  text-transform: none;
  text-align: left;
  color: #282E36;
  position: static;
  width: 100%;
  border: none;
}
@media only screen and (min-width: 56.12em) {
  .main-nav .submenu {
    width: calc(100% + 2px);
    position: absolute;
    border: 1px solid #3975B7;
    border-top: 0;
  }
}
.main-nav .submenu .flex-container {
  display: block;
  padding: 0;
}
@media only screen and (min-width: 56.12em) {
  .main-nav .submenu .flex-container {
    padding: 1.77rem 0.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-nav .submenu .nav-title {
  font-size: 1.2rem;
  margin-top: 0;
  padding-top: 1rem;
}
@media only screen and (min-width: 56.12em) {
  .main-nav .submenu .nav-title {
    padding-top: 0;
  }
}
.main-nav .submenu .nav-col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  padding: 0 0.75rem;
  font-weight: bold;
  display: block;
  padding-bottom: 1rem;
}
@media only screen and (min-width: 56.12em) {
  .main-nav .submenu .nav-col {
    padding-bottom: 0;
    display: block;
  }
}
.main-nav .submenu .nav-col > :last-child {
  margin-bottom: 0;
}
.main-nav .submenu .nav-col a {
  font-size: 0.8333333333rem;
}
.main-nav .submenu .nav-link-description {
  display: none;
  font-weight: normal;
}
@media only screen and (min-width: 56.12em) {
  .main-nav .submenu .nav-link-description {
    display: block;
  }
}
.main-nav ul.submenu {
  text-align: center;
  font-weight: bold;
}
.main-nav ul.submenu li {
  margin-top: -1px;
}
.main-nav ul.submenu li:nth-last-child(1) a {
  border-bottom: none;
}
.main-nav ul.submenu a {
  color: #3975B7;
  font-size: 0.8333333333rem;
  text-transform: none;
  padding: 0.42rem;
  display: block;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}
.main-nav ul.submenu a:hover, .main-nav ul.submenu a:focus {
  border-top: 1px solid #3975B7;
  border-bottom: 1px solid #3975B7;
}

#footer-nav ul {
  margin: 0;
  padding: 0;
}
#footer-nav li {
  padding: 0 0.56rem;
}

#mobile-nav {
  position: fixed;
  display: block;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  text-align: center;
  background-color: #ffffff;
  border-top: 1px solid #CEC7BF;
}
@media only screen and (min-width: 56.12em) {
  #mobile-nav {
    display: none;
  }
}
#mobile-nav ul {
  margin: 0;
  padding: 0;
}
#mobile-nav li {
  width: 25%;
}
#mobile-nav button {
  width: 100%;
  color: #282E36;
  background-color: rgba(206, 199, 191, 0.2);
  cursor: pointer;
  border: none;
  margin-bottom: 0;
}
#mobile-nav button:hover, #mobile-nav button:focus {
  background-color: rgba(206, 199, 191, 0.6);
}
#mobile-nav i {
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
}
#mobile-nav .mobile-label {
  font-size: 0.84rem;
}
#mobile-nav .search-toggle::before {
  content: none;
}

/*--------------------------------------------------------------
## Page Navigation
--------------------------------------------------------------*/
.page-children-items {
  background-color: rgba(206, 199, 191, 0.2);
  color: #ffffff;
  border-top: 2px solid rgba(206, 199, 191, 0.4);
  font-size: 0.8333333333rem;
}
.page-children-items ul {
  margin: 0;
  text-align: center;
}
.page-children-items li {
  padding: 1em;
  display: inline-block;
}
.page-children-items a {
  display: block;
}

/*--------------------------------------------------------------
## Next / Previous
--------------------------------------------------------------*/
/* Accessibility */
/* Alignments */
/* Clearings */
/* Layout */
body.dimmer-active {
  overflow: hidden;
}
body.dimmer-active #dimmer-overlay {
  opacity: 1;
  z-index: 80;
}

.hidden {
  display: none;
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.skip {
  position: absolute;
  top: 0;
  left: 0;
}
.skip a {
  background-color: #fff;
  color: #3975B7;
  display: block;
  padding: 0.56rem 1.77rem;
  font-size: 1.13rem;
}

.nowrap {
  white-space: nowrap;
}

#dimmer-overlay {
  background-color: rgba(40, 46, 54, 0.8);
  position: fixed;
  z-index: -20;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity ease 0.4s;
  transition: opacity ease 0.4s;
}

.show-on-focus:not(:focus):not(:active) {
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.screen-reader-text {
  border: 0;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Content */
/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.top-header .institution-title {
  display: none;
  border-bottom: none;
}
@media only screen and (min-width: 56.12em) {
  .top-header .institution-title {
    display: table-cell;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.top-header img {
  width: 100%;
  max-width: 125px;
}
.top-header .secondary-nav {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #1F3A60;
  z-index: 98;
}
@media only screen and (min-width: 56.12em) {
  .top-header .secondary-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    z-index: inherit;
    background-color: transparent;
  }
}
.top-header .secondary-nav ul {
  display: block;
  margin: 0.56rem 0;
  padding: 0;
}
@media only screen and (min-width: 56.12em) {
  .top-header .secondary-nav ul {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.top-header .secondary-nav li {
  display: block;
  text-align: center;
  font-size: 1.13rem;
}
@media only screen and (min-width: 56.12em) {
  .top-header .secondary-nav li {
    font-size: 0.6666666667rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.top-header .secondary-nav a {
  margin: 0;
  padding: 0.56rem 1rem;
  display: block;
  border-bottom: 1px solid transparent;
}
@media only screen and (min-width: 56.12em) {
  .top-header .secondary-nav a {
    margin: 0 0.56rem;
    white-space: nowrap;
    display: inline;
    padding: 0;
  }
}
.top-header .secondary-nav a:hover, .top-header .secondary-nav a:focus {
  color: #ffffff;
  border-bottom: 1px solid;
}
.top-header .search-toggle {
  display: none;
  border: none;
  margin-left: 0.56rem;
  font-size: 0.6666666667rem;
  padding: 0.42rem 0.56rem;
}
@media only screen and (min-width: 56.12em) {
  .top-header .search-toggle {
    display: block;
  }
}
.top-header .tools-toggle {
  display: none;
  background-color: transparent;
  font-size: 0.6666666667rem;
  padding: 0.42rem 0.56rem;
  border: none;
}
@media only screen and (min-width: 56.12em) {
  .top-header .tools-toggle {
    display: block;
  }
}
.top-header .tools-toggle span {
  border-bottom: 1px solid transparent;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}
.top-header .tools-toggle::after {
  margin-left: 0.42rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
  font-size: 0.6666666667rem;
}
.top-header .tools-toggle:hover, .top-header .tools-toggle:focus {
  color: #ffffff;
}
.top-header .tools-toggle:hover span, .top-header .tools-toggle:focus span {
  border-bottom: 1px solid;
  color: #ffffff;
}

.main-header {
  padding-top: 1.33rem;
  padding-bottom: 1.33rem;
}
.main-header .header-logo {
  border-bottom: none;
}
.main-header .header-logo img {
  height: 90px;
  width: auto;
  max-width: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}
.main-header .header-logo:not(.main-logo) img {
  height: auto;
  max-width: 44px;
  min-width: 30px;
}
.main-header .header-logo .main-logo img {
  height: auto;
  width: 100%;
  max-width: 330px;
}
.main-header .lockup-text {
  padding-top: 0.75rem;
  padding-left: 1.33rem;
}
.main-header .lockup-text a {
  border-bottom-color: transparent;
  letter-spacing: .75px;
  font-family: "poynter-oldstyle-display", "adobe-garamond-pro", times, serif;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}
.main-header .lockup-text a:hover {
  color: #ffffff;
  border-bottom-color: #ffffff;
}
.main-header .lockup-text .parent-site {
  line-height: 1;
  font-size: 1rem;
  margin-top: 0.42rem;
}
.main-header .lockup-text .current-site {
  font-size: 1.5rem;
  line-height: 1;
}
.main-header .main-cta {
  display: none;
}
@media only screen and (min-width: 56.12em) {
  .main-header .main-cta {
    display: table-cell;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-header .main-cta a {
  background-color: #3975B7;
  border-bottom: none;
  padding: 0.42rem 1rem;
  font-size: 0.8333333333rem;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  margin: 0.42rem 0 0.42rem 0.42rem;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}
.main-header .main-cta a:hover, .main-header .main-cta a:focus {
  color: #3975B7;
  background-color: #ffffff;
}
.main-header .mobile-buttons {
  margin-left: 0.56rem;
}
@media only screen and (min-width: 56.12em) {
  .main-header .mobile-buttons {
    display: none;
  }
}
.main-header .mobile-buttons button {
  background-color: #3975B7;
  color: #ffffff;
  padding: 0.75rem 1rem;
  font-size: 1.33rem;
  margin-left: 0.42rem;
}
.main-header .mobile-buttons button::before, .main-header .mobile-buttons button::after {
  margin: 0;
  font-size: 1.33rem;
}
.main-header .mobile-buttons button:hover, .main-header .mobile-buttons button:focus {
  background-color: #ffffff;
  color: #3975B7;
}
.main-header .mobile-buttons .search-toggle::before {
  display: none;
}

#tools {
  position: fixed;
  display: none;
  bottom: 0;
  width: 100%;
  z-index: 90;
  background-color: #1F3A60;
}
@media only screen and (min-width: 56.12em) {
  #tools {
    position: absolute;
    bottom: unset;
    left: 0;
    right: 0;
    z-index: 9;
    top: 100%;
  }
}
#tools ul {
  display: block;
  width: 100%;
  margin: 0;
  list-style: none;
  height: 100%;
}
@media only screen and (min-width: 56.12em) {
  #tools ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
#tools ul li {
  text-align: center;
  width: calc(50% - 4px);
  display: inline-block;
  padding: 1rem;
}
@media only screen and (min-width: 56.12em) {
  #tools ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    padding: 0;
  }
}
#tools ul li a {
  border-bottom-color: #1F3A60;
}
#tools ul li a:hover {
  border-bottom-color: #ffffff;
  color: #ffffff;
}
#tools ul li p {
  font-size: 0.8333333333rem;
  margin: 0;
}
#tools ul li i {
  font-size: 1.2rem;
  margin-bottom: 0.56rem;
}

button.search-toggle {
  background-color: #3975B7;
}
button.search-toggle::before {
  margin-right: 0.42rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f002";
  font-size: 0.84rem;
}
button.search-toggle:hover, button.search-toggle:focus {
  background-color: #ffffff;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.entry-header {
  background-color: rgba(206, 199, 191, 0.2);
  padding-top: 3.16rem;
  padding-bottom: 3.16rem;
}
.entry-header h1 {
  margin-top: 0.75rem;
  font-size: 2.4rem;
  margin-bottom: 0;
}
@media only screen and (min-width: 56.12em) {
  .entry-header h1 {
    font-size: 3rem;
  }
}
.entry-header.home-header h1 {
  margin-top: 0;
}
.entry-header.header-image {
  background-repeat: no-repeat;
  background-color: #1F3A60;
  position: relative;
  overflow: hidden;
  height: auto;
}
@media only screen and (min-width: 56.12em) {
  .entry-header.header-image {
    height: 30vw;
  }
}
.entry-header.header-image h1 {
  z-index: 2;
  position: relative;
  width: 100%;
  color: #ffffff;
}
@media only screen and (min-width: 56.12em) {
  .entry-header.header-image h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding-bottom: 1.77rem;
  }
}
.entry-header.header-image img {
  z-index: 1;
  height: auto;
  opacity: .125;
  min-height: 100%;
  width: auto;
  max-width: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media only screen and (min-width: 56.12em) {
  .entry-header.header-image img {
    width: 100%;
  }
}

#breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.6666666667rem;
  text-align: center;
}
#breadcrumbs li {
  display: inline-block;
}
#breadcrumbs i {
  display: inline-block;
  margin: 0 4px;
}

.post-meta {
  font-size: 0.6666666667rem;
  text-align: center;
  margin: 0;
  padding: 0;
}
.post-meta .attribution-meta {
  margin: 0 0.56rem;
  font-weight: bold;
}
.post-meta .date-meta {
  margin: 0 0.56rem;
}
.post-meta .date-meta::before {
  margin-right: 0.42rem;
  font-family: "Font Awesome 5 Free";
  content: "\f073";
  font-size: 0.6666666667rem;
}
.post-meta .category-meta {
  margin: 0 0.56rem;
}
.post-meta .category-meta::before {
  margin-right: 0.42rem;
  font-family: "Font Awesome 5 Free";
  content: "\f03a";
  font-weight: 900;
  font-size: 0.6666666667rem;
}
.post-meta .tag-meta {
  margin: 0 0.56rem;
  text-transform: capitalize;
}
.post-meta .tag-meta::before {
  margin-right: 0.42rem;
  font-family: "Font Awesome 5 Free";
  content: "\f02b";
  font-weight: 900;
  font-size: 0.6666666667rem;
}

.page-content > .wrapper {
  display: block;
}
@media only screen and (min-width: 56.12em) {
  .page-content > .wrapper {
    display: table;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.content-container {
  width: 100%;
}
@media only screen and (min-width: 56.12em) {
  .content-container {
    width: calc(100% - 300px);
  }
}

.entry-content {
  padding-left: 0;
  width: 100%;
}
@media only screen and (min-width: 56.12em) {
  .entry-content {
    padding-left: 5.62vw;
  }
}
.entry-content.no-sidebar {
  padding-left: 0;
}
.entry-content p {
  margin-top: 0;
  margin-bottom: 1.77rem;
}
.entry-content > :first-child {
  margin-top: 0;
}
.entry-content > :last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 56.12em) {
  .message-404 .mobile {
    display: none;
  }
}
.message-404 .desktop {
  display: none;
}
@media only screen and (min-width: 56.12em) {
  .message-404 .desktop {
    display: inline;
  }
}

/*--------------------------------------------------------------
## Search
--------------------------------------------------------------*/
#citadel-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  padding-top: 5rem;
  padding-bottom: 3rem;
  display: none;
  opacity: 0;
  z-index: 99;
}
#citadel-search.active {
  opacity: 1;
  display: block;
}
#citadel-search .wrapper {
  height: 100%;
  overflow-y: auto;
}
#citadel-search input {
  max-width: calc(1000px + (2 * 5.62vw));
  width: 100%;
  margin: 0 5.62vw;
  display: block;
  padding: 0 0.75rem;
  position: absolute;
  margin-top: 1rem;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#citadel-search ul {
  max-width: 1000px;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#citadel-search li {
  padding: .5rem 0;
  border-bottom: 1px solid #CEC7BF;
}
#citadel-search a {
  color: #282E36;
}
#citadel-search a:hover, #citadel-search a:focus {
  color: #3975B7;
}

/*--------------------------------------------------------------
## Home page
--------------------------------------------------------------*/
#home-cta {
  width: 100%;
  background-color: #1F3A60;
  clear: both;
  text-align: center;
}
#home-cta .widget {
  display: inline-block;
  vertical-align: top;
  margin: 1rem;
}
#home-cta .widget a {
  display: inline-block;
}
#home-cta .widget a:hover, #home-cta .widget a:focus {
  border-bottom-color: #ffffff;
}
#home-cta .widget a:hover .cta-icon, #home-cta .widget a:focus .cta-icon {
  background-color: #fff;
  color: #3975B7;
}
#home-cta .widget .cta-icon {
  display: inline-block;
  font-size: 2.4rem;
  border: 3px solid #fff;
  border-radius: 100%;
  padding: 1rem 0.75rem;
  color: #fff;
  background-color: #3975B7;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}
#home-cta .widget span {
  text-transform: uppercase;
  display: block;
  padding: 8px 0 0;
  font-size: 18px;
  color: #ffffff;
  -webkit-transition: all ease .4s;
  transition: all ease .4s;
}
#home-cta .widget i {
  display: block;
}
#home-cta .widget:not(.widget_citadel_cta_widget) {
  display: none;
}

#home-featured-video {
  width: 100%;
  float: none;
  background: transparent url(http://www.citadel.edu/root/templates/citadel-new-home/images/eh-landing-page/video-bg.jpg) no-repeat center top;
  background-size: cover;
}
#home-featured-video .widget {
  margin-bottom: 0;
  max-width: 800px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
#home-featured-video .widget:not(.widget_media_video),
#home-featured-video .widget:not(:nth-child(1)) {
  display: none;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Archives
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
footer {
  color: #ffffff;
  background-color: #3975B7;
  font-size: 0.8333333333rem;
}
footer a {
  color: #ffffff;
  border-bottom-color: #ffffff;
}
footer a:hover, footer a:focus, footer a:active {
  color: #ffffff;
  border-bottom-color: transparent;
}

.main-footer {
  padding-top: 1.77rem;
  padding-bottom: 1.77rem;
  border-bottom: 1px solid #ffffff;
  width: auto;
}
.main-footer .wrapper {
  display: block;
}
@media only screen and (min-width: 56.12em) {
  .main-footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.main-footer .footer-brand {
  margin-bottom: 0.75rem;
  border-bottom: none;
}
@media only screen and (min-width: 56.12em) {
  .main-footer .footer-brand {
    display: inline-block;
    vertical-align: middle;
  }
}
.main-footer .footer-brand:hover {
  border-bottom-color: #3975B7;
}
.main-footer .footer-brand img {
  width: 100%;
  height: auto;
  max-width: 250px;
  margin: 0 auto;
}
.main-footer .footer-contact {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  margin: 0.75rem 1.77rem;
}
@media only screen and (min-width: 56.12em) {
  .main-footer .footer-contact {
    margin: 0;
  }
}
.main-footer .footer-contact.address::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f3c5";
  margin-right: 0.56rem;
}
.main-footer .footer-contact.phone::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f095";
  margin-right: 0.56rem;
}

.report-issue {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.84rem;
  border-bottom: 1px solid #ffffff;
}

.bottom-footer {
  font-size: 0.6666666667rem;
  padding-top: 0.56rem;
  padding-bottom: 0.56rem;
}

.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-links a {
  padding: 0 0 5px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0 5px;
  display: inline-block;
}

/* Widgets */
.sidebar {
  text-align: center;
  border-top: 1px solid #CEC7BF;
  border-bottom: 1px solid #CEC7BF;
  margin-bottom: 4.21rem;
  background-color: rgba(206, 199, 191, 0.2);
  margin-left: -5.62vw;
  margin-right: -5.62vw;
  width: 100vw;
  display: block;
}
@media only screen and (min-width: 56.12em) {
  .sidebar {
    width: 300px;
    background-color: transparent;
    border-top: 5px solid #3975B7;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
    margin-bottom: 0;
  }
}
.sidebar .widget_nav_menu {
  width: 100%;
}
.sidebar .sidebar-home-link {
  color: #3975B7;
  display: inline-block;
  border-bottom-color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.56rem;
}
.sidebar .sidebar-home-link:hover {
  border-bottom-color: #3975B7;
}
.sidebar .side-menu-toggle {
  display: block;
  border: 1px solid #CEC7BF;
  background-color: #ffffff;
  color: #3975B7;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 56.12em) {
  .sidebar .side-menu-toggle {
    display: none;
  }
}
.sidebar nav {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
@media only screen and (min-width: 56.12em) {
  .sidebar nav {
    white-space: initial;
    overflow-x: visible;
    overflow-y: visible;
  }
}
.sidebar nav ul {
  font-size: 1rem;
  list-style: none;
  padding: 0;
  margin-top: 0;
}
.sidebar nav ul li {
  display: inline-block;
  padding: 0;
  line-height: 1.3;
  border-right: 1px solid #CEC7BF;
}
@media only screen and (min-width: 56.12em) {
  .sidebar nav ul li {
    border-bottom: 1px solid #CEC7BF;
    border-right: none;
    display: block;
    padding: 0.75rem 0;
  }
}
.sidebar nav ul li:last-child {
  margin-bottom: 0;
}
.sidebar nav ul a {
  display: block;
  padding: 0.75rem 1rem;
  color: #3975B7;
  border-bottom: none;
  font-weight: bold;
}
@media only screen and (min-width: 56.12em) {
  .sidebar nav ul a {
    border-bottom: 1px solid #ffffff;
    padding: 0;
    display: inline;
  }
  .sidebar nav ul a:hover {
    border-bottom-color: #3975B7;
  }
}
.sidebar .leftmenu-toggle {
  display: inline-block;
  color: #1F3A60;
  padding: 0;
  border: none;
  background-color: #fff;
  margin-right: 0.42rem;
}
@media only screen and (min-width: 56.12em) {
  .sidebar .leftmenu-toggle {
    display: none;
  }
}

#leftmenu {
  padding: 0;
  margin: 0;
  text-align: left;
}
#leftmenu .sub-menu {
  display: none;
  border-top: 1px solid #CEC7BF;
  padding: 0 0 0 1rem;
  margin-top: 0.75rem;
}
#leftmenu .current-menu-item {
  position: relative;
}
#leftmenu .current-menu-item::before {
  position: absolute;
  margin-right: 0.56rem;
  right: 100%;
  color: #1F3A60;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: none;
}
@media only screen and (min-width: 56.12em) {
  #leftmenu .current-menu-item::before {
    content: "\f30b";
  }
}
#leftmenu > :last-child {
  margin-bottom: 0;
}
#leftmenu i {
  margin-left: 0.42rem;
  font-family: "Font Awesome 5 Free";
  font-size: 0.6666666667rem;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform ease .4s;
  transition: -webkit-transform ease .4s;
  transition: transform ease .4s;
  transition: transform ease .4s, -webkit-transform ease .4s;
}
#leftmenu i.active {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#sidebar-buttons {
  display: none;
  margin-top: 2.37rem;
}
@media only screen and (min-width: 56.12em) {
  #sidebar-buttons {
    display: block;
  }
}
#sidebar-buttons .widget:not(.widget_citadel_cta_widget) {
  display: none;
}
#sidebar-buttons a {
  display: table;
  width: 100%;
  border: none;
  background-color: rgba(206, 199, 191, 0.6);
  color: #282E36;
  font-size: 0.84rem;
  margin-bottom: 1rem;
}
#sidebar-buttons a:hover, #sidebar-buttons a:focus {
  background-color: rgba(206, 199, 191, 0.8);
}
#sidebar-buttons a:hover .cta-icon, #sidebar-buttons a:focus .cta-icon {
  background-color: #1F3A60;
}
#sidebar-buttons a .cta-icon {
  display: table-cell;
  vertical-align: middle;
  width: 50px;
  padding: 0.42rem 0.56rem;
  font-size: 1.13rem;
  background-color: #3975B7;
  color: #ffffff;
  -webkit-transition: background-color ease .4s;
  transition: background-color ease .4s;
}
#sidebar-buttons a .cta-title {
  display: table-cell;
  line-height: 1.4;
  vertical-align: middle;
  padding: 0.42rem 0.56rem;
  font-weight: bold;
  text-align: left;
}

/* Blocks */
.wp-block-cover,
.wp-block-cover-image {
  height: auto;
}

/* Media */
/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
