.sidebar {
	text-align: center;
	border-top: 1px solid $pt_barracks;
	border-bottom: 1px solid $pt_barracks;
	margin-bottom: $sp_9;
	background-color: $pt_barracks_20;
    margin-left: -5.62vw;
    margin-right: -5.62vw;
    width: 100vw;
    display: block;

	@include media(tablet) {
		width: $sidebar_width;
		background-color: transparent;
		border-top: 5px solid $citadel_blue;
		padding: 0;
		margin-left: 0;
		margin-right: 0;
		border-bottom: none;
		margin-bottom: 0;
	}

	.widget_nav_menu {
		width: 100%;
	}

	.sidebar-home-link {
		color: $citadel_blue;
		display: inline-block;
		border-bottom-color: #ffffff;
		font-weight: bold;
		font-size: $size_7;
		margin-bottom: $sp_2;

		&:hover {
			border-bottom-color: $citadel_blue;
		}
	}

	.side-menu-toggle {
		display: block;
		border: 1px solid $pt_barracks;
		background-color: #ffffff;
		color: $citadel_blue;
		border-radius: 8px;
		cursor: pointer;
		width: 100%;
		margin: 0 auto;

		@include media(tablet) {
			display: none;
		}
	}

	nav {
		width: 100%;
		white-space: nowrap;
		overflow-x: auto;
		overflow-y: hidden;

		@include media(tablet) {
			white-space: initial;
			overflow-x: visible;
			overflow-y: visible;
		}

		ul {
			font-size: $size_7; 
			list-style: none;
			padding: 0;
			margin-top: 0;

			li {
				display: inline-block;
				padding: 0;
				line-height: 1.3;
				border-right: 1px solid $pt_barracks;

			    @include media(tablet) {
				    border-bottom: 1px solid $pt_barracks;
				    border-right: none;
				    display: block;
				    padding: $sp_3 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			a {
				display: block;
				padding: $sp_3 $sp_4;
				color: $citadel_blue;
				border-bottom: none;
				font-weight: bold;

				@include media(tablet) {
					border-bottom: 1px solid #ffffff;
					padding: 0;
					display: inline;

					&:hover {
						border-bottom-color: $citadel_blue;
					}
				}
			}
		}
	}
	
	.leftmenu-toggle {
	    display: inline-block;
		color: #1F3A60;
	    padding: 0;
	    border: none;
	    background-color: #fff;
	    margin-right: $sp_1;

	    @include media(tablet) {
			display: none;
	    }
	}
}

#leftmenu {
	padding: 0;
	margin: 0;
	text-align: left;

    .sub-menu {
    	display: none;
		border-top: 1px solid $pt_barracks;
    	padding: 0 0 0 $sp_4;
    	margin-top: $sp_3;
    }

	.current-menu-item {
		position: relative;

		&::before {
			position: absolute;
			margin-right: $sp_2;
			right: 100%;
			color: $citadel_navy;
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			content: none;

			@include media(tablet) {
				content: "\f30b";
			}
		}
		
	}

	.menu-item-has-children {
		// border-bottom: none;
		// padding-bottom: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}

	i {
		margin-left: $sp_1;
		font-family: "Font Awesome 5 Free";
		font-size: $font__size-xs;
		cursor: pointer;
		transform: rotate(0deg);
		transition: transform ease .4s;

		&.active {
			transform: rotate(-90deg);
		}
	}
}

#sidebar-buttons {
	display: none;
	margin-top: $sp_7;

	@include media(tablet) {
		display: block;
	}

	.widget:not(.widget_citadel_cta_widget) {
		display: none;
	}

	a {
		display: table;
		width: 100%;
		border: none;
		background-color: $pt_barracks_60;
		color: $shako;
		font-size: $size_6;
		margin-bottom: $size_7;

		&:hover,
		&:focus {
			background-color: $pt_barracks_80;

			.cta-icon {
				background-color: $citadel_navy;
			}

		}

		.cta-icon {
			display: table-cell;
			vertical-align: middle;
			width: 50px;	
			padding: $sp_1 $sp_2;
			font-size: $size_8;
			background-color: $citadel_blue;
			color: #ffffff;
			transition: background-color ease .4s;

		}

		.cta-title {
			display: table-cell;
			line-height: 1.4;
			vertical-align: middle;	
			padding: $sp_1 $sp_2;
			font-weight: bold;
			text-align: left;
		}
	}
}