.entry-header {
	background-color: $pt_barracks_20;
	padding-top: $sp_8;
	padding-bottom: $sp_8;

	h1 {
		margin-top: $sp_3;
	    font-size: $font__size-xl;
		margin-bottom: 0;

		@include media(tablet) {
		font-size: $font__size-xxl;
	    }
	}

	&.home-header {

		h1 {
			margin-top: 0;
		}
	}

	&.header-image {
		background-repeat: no-repeat;
		background-color: $citadel_navy;
		position: relative;
		overflow: hidden;
		height: auto;
		@include media(tablet) {
			height: 30vw;
		}

		h1 {
			z-index: 2;
			position: relative;
			width: 100%;
			color: #ffffff;

			@include media(tablet) {
				@include absolute_center;
				padding-bottom: $sp_6;
			}
		}

		img {
			z-index: 1;
			height: auto;
			opacity: .125;
			min-height: 100%;
			width: auto;
			max-width: none;
			@include absolute_center;
			
			@include media(tablet) {
				width: 100%;
			}
		}
	}
}

#breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: $font__size-xs;
	text-align: center;

	li {
		display: inline-block;
	}

	i {
		display: inline-block;
		margin: 0 4px;
	}
}

.post-meta {
	font-size: $font__size-xs;
	text-align: center;
	margin: 0;
	padding: 0;

	.attribution-meta {
		margin: 0 $sp_2;
		font-weight: bold;
	}

	.date-meta {
		margin: 0 $sp_2;

		&::before {
			margin-right: $sp_1;
			font-family: "Font Awesome 5 Free";
			content: "\f073";
			font-size: $font__size-xs;
		}
	}

	.category-meta {
		margin: 0 $sp_2;

		&::before {
			margin-right: $sp_1;
			font-family: "Font Awesome 5 Free";
			content: "\f03a";
			font-weight: 900;
			font-size: $font__size-xs;
		}
	}

	.tag-meta {
		margin: 0 $sp_2;
		text-transform: capitalize;

		&::before {
			margin-right: $sp_1;
			font-family: "Font Awesome 5 Free";
			content: "\f02b";
			font-weight: 900;
			font-size: $font__size-xs;
		}
	}
}

.page-content {

	> .wrapper {
		display: block;

		@include media(tablet) {
			@include flex-container;
		}
	}
}

.content-container {
	width: 100%;

	@include media(tablet) {
		width: calc(100% - 300px);
	}
}

.entry-content {
	padding-left: 0;
	width: 100%;
	
	@include media(tablet) {
		padding-left: $site_padding;
	}

	&.no-sidebar {
		padding-left: 0;
	}

	p {
		margin-top: 0;
		margin-bottom: $sp_6;
	}

	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

.message-404 {

	.mobile {

		@include media(tablet) {
			display: none;
		}
	}

	.desktop {
		display: none;
		
		@include media(tablet) {
			display: inline;
		}
	}
}